{% extends 'default/layout.html.twig' %}

{% block banner %}
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <style>
        #map {
            height: 400px;
            width: 100%;
        }

    </style>
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')}}">
    <script src="{{ asset('http://code.jquery.com/jquery-1.10.2.min.js')}}"></script>
    <script src="{{ asset('front/js/jquery.searcher.js')}}"></script>

    <style>
        .index-content a:hover{
            color:black;
            text-decoration:none;
        }
        .index-content{
            margin-bottom:20px;
            padding:50px 0px;

        }
        .index-content .row{
            margin-top:20px;
        }
        .index-content a{
            color: black;
        }
        .index-content .card{
            background-color: #FFFFFF;
            padding:0;
            margin-bottom: 10%;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius:4px;
            box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);

        }
        .index-content .card:hover{
            box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
            color:black;
        }
        .index-content .card img{
            width:100%;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }
        .index-content .card h4{
            margin:20px;
        }
        .index-content .card p{
            margin:20px;
            opacity: 0.65;
        }
        .index-content .blue-button{
            width: 100px;
            -webkit-transition: background-color 1s , color 1s; /* For Safari 3.1 to 6.0 */
            transition: background-color 1s , color 1s;
            min-height: 20px;
            background-color: #002E5B;
            color: #ffffff;
            border-radius: 4px;
            text-align: center;
            font-weight: lighter;
            margin: 0px 20px 15px 20px;
            padding: 5px 0px;
            display: inline-block;
        }
        .index-content .blue-button:hover{
            background-color: #dadada;
            color: #002E5B;
        }
        @media (max-width: 768px) {

            .index-content .col-lg-4 {
                margin-top: 20px;
            }
        }


        .card1 {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 300px;
            margin: auto;
            text-align: center;
        }

        .title {
            color: grey;
            font-size: 18px;
        }

        .button1 {
            border: none;
            margin-top: 2px;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
        }


        button:hover, a:hover {
            opacity: 0.7;
        }


    </style>

    {{ enseigne.id }}
    {{ enseigne.nom }}
    {{ enseigne.description }}
    {{ enseigne.adresse.pays}}
    {{ enseigne.adresse.ville}}
    {{ enseigne.adresse.rue}}
    <img src="{{ asset(enseigne.image.webPath) }}">



    {% if not enseigne.evenements.empty %}
        <p>
            Events :
        <input id="cardsearchinput" />

        <div class="index-content">
        <div class="container">
        <div id="carddata">
        {% for category in enseigne.evenements %}
            <div class="card">
            <a href="#">
                <div class="col-lg-4">
                    <div class="card">
                        <img src="{{ asset(enseigne.image.webPath) }}">
                        <p style="text-align:left;"> <div class="event_nom">{{ category.nom }}</div>
                        <span style="float:right;">{{ category.date|date('Y-m-d') }}</span></p>
            <p>{{ category.description }}.</p>
            <a href="{{ path('modifier_event',{'id':category.id}) }}" class="blue-button">Update</a>
            <a href="{{ path('supprimer_event',{'id':category.id}) }}" class="blue-button">Delete</a>
            </div>
            </div>
            </a>
            </div>
            {% if not loop.last %}{% endif %}
        {% endfor %}
    </div>
        </div>
        </div>

        </p>
    {% endif %}


    {% if not enseigne.menus.empty %}
<p>
    Menu :
        <input id="cardsearchinput1" />

        <div id="carddata1">
    {% for category in enseigne.menus %}
    <div class="card1">
        <img src="{{ asset(category.enseigne.image.webPath) }}" alt="John" style="width:100%">
        <h1>CONTENU</h1>
        <p class="title"><div class="menu_contenu">{{ category.contenu }}</div></p>
        <h1>PRIX</h1>
        <p class="title">{{ category.prix }}</p>
        <a href="{{ path('up_menu',{'id':category.id}) }}" class="button1">Update</a>
        <a href="{{ path('supprimer_menu',{'id':category.id}) }}" class="button1">Delete</a>

    </div>

        {% if not loop.last %} {% endif %}<br>
    {% endfor %}
        </div>

        </p>
    {% endif %}


    <script>
        $("#carddata").searcher({
            itemSelector: ".card",
            textSelector: ".event_nom",
            inputSelector: "#cardsearchinput",
            toggle: function(item, containsText) {
                // use a typically jQuery effect instead of simply showing/hiding the item element
                if (containsText)
                    $(item).fadeIn();
                else
                    $(item).fadeOut();
            }
        });
    </script>
    <script>
        $("#carddata1").searcher({
            itemSelector: ".card1",
            textSelector: ".menu_contenu",
            inputSelector: "#cardsearchinput1",
            toggle: function(item, containsText) {
                // use a typically jQuery effect instead of simply showing/hiding the item element
                if (containsText)
                    $(item).fadeIn();
                else
                    $(item).fadeOut();
            }
        });
    </script>



{% endblock %}
