{% extends 'default/layout.html.twig' %}

{% block banner %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
    <link rel="stylesheet" href="{{ asset('//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css') }}">
{% endblock %}

{% block content %}
    <h3>Ajouts Events</h3>
    {{ form_start(forms) }}

    <div class="form-group" >{{ form_row(forms.nom, {'attr': {'class': 'form-control'} }) }}</div>
    <div class="form-group" >{{ form_row(forms.description, {'attr': {'class': 'form-control'} }) }}</div>
    <div class="form-group" >{{ form_row(forms.date) }}</div>
    <div class="form-group" >{{ form_row(forms.image, {'attr': {'class': 'file'} }) }}</div>


    {{ form_end(forms) }}

    <script src="{{ asset('//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js') }}" ></script>
    <script>
        jQuery(document).ready(function () {
            $('.js-datepicker').datepicker();
        });
    </script>


{% endblock %}