{% extends 'default/AdminLayout.html.twig' %}
{% block content %}
<div id="page-wrapper">
    <div class="main-page">    <link href="{{ asset('Back/css/jquery.dataTables.min.css') }}" rel="stylesheet">

    <table id="example" class="display" style="width:100%">
        <thead>
        <tr>
            <th>id</th>
            <th>image</th>
            <th>nom</th>
            <th>description</th>
            <th>enseigne</th>
            <th>date</th>


        </tr>
        </thead>
        <tbody>

        {% for e in events %}
            <tr>
                <td> {{ e.id }} </td>
                <td><img src="{{ asset(e.image.webPath) }}" alt=""> </td>
                <td> {{ e.nom }}  </td>
                <td> {{ e.description }} </td>
                <td> {{ e.enseigne.nom }} </td>
                <td> {{ e.date |date }} </td>

            </tr>

        {% endfor %}
        </tbody>
    </table>
    </div></div>
    <script src="{{ asset('Back/js/jquery-1.12.4.js') }}"></script>

    <script src="{{ asset('Back/js/jquery.dataTables.min.js') }}"></script>

    <script>
        $(document).ready(function() {
            $('#example').DataTable();
        } );
    </script>
{% endblock content %}

